.navbar{
    background-color: black;
    height: 70px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 16px;
    position: sticky;
    top: 0;
    z-index: 20;
}

.nav-list{
     display: flex;
     align-items: center;
     justify-content: center;
     height: 70px;
     width: 100%;
     max-width: 150px;
     
}
.nav-menu{
    display: flex;
    text-align: center;
    list-style: none;
    margin-right: 2rem;
    

}

.N-links{
    color: white;
    text-decoration: none;
    height: 100%;
    padding: 0.5rem 1rem;
    border-bottom: 2px solid transparent;
}
.nav-i{
    
    margin-right: 1rem;
    line-height: 50px
}
.nav-i:hover{
    width: 100%;
    background-color: gray;
}

.N-links:hover{
    color: hotpink;
}